- List Slicing

In [23]:
name= ["Abul", "BAbul", "Cabul", "Dabul"]
phone_number = [1111, 2222, 3333, 4444]
phone_contacts = [name, phone_number]
print("name:", phone_contacts[0] )
print("phone_number:", phone_contacts[0] )
print("phone_contacts:", phone_contacts )
print(phone_contacts [0])
print(phone_contacts [0] [1])
print(phone_contacts [1] [1])
print("Name_contact:", phone_contacts [0][1], phone_contacts[1][1] )

name: ['Abul', 'BAbul', 'Cabul', 'Dabul']
phone_number: ['Abul', 'BAbul', 'Cabul', 'Dabul']
phone_contacts: [['Abul', 'BAbul', 'Cabul', 'Dabul'], [1111, 2222, 3333, 4444]]
['Abul', 'BAbul', 'Cabul', 'Dabul']
BAbul
2222
Name_contact: BAbul 2222

- Checking length of a string

In [54]:
name: ['Abul', 'BAbul', 'Cabul', 'Dabul']
phone_number: [1111, 2222, 3333, 4444]
phone_contacts: [['Abul', 'BAbul', 'Cabul', 'Dabul'], [1111, 2222, 3333, 4444]]
len(name)
print(len(phone_contacts[0]))
print(len(phone_contacts[0][1]))

5
5

- Checking the presence of an element in a list

In [45]:
"Babul" in phone_contacts
"Abul" in phone_contacts[0]
"Cabul" not in phone_contacts[0]

False

- Insert a new element in the list

<br>name.insert(index, value)

In [79]:
name=['Abul', 'BAbul', 'Cabul', 'Dabul']
name.insert(4, "Ebul")

In [113]:
print("name:", name)
phone_number = [1111, 2222, 3333, 4444]
phone_number.insert(4, 5555)
print (phone_number)
print (sum(phone_number))

name: ['Ebul', 'Dabul', 'Cabul', 'BAbul', 'Abul']
[1111, 2222, 3333, 4444, 5555]
16665

In [84]:
updated_contact = [name, phone_number]
print (updated_contact)

[['Abul', 'BAbul', 'Cabul', 'Dabul', 'Ebul'], [1111, 2222, 3333, 4444, 5555]]

In [87]:
print (updated_contact[0][1],updated_contact[1][1] )

BAbul 2222

- How to reverse a list?

In [90]:
name.reverse()
print(name)
phone_number.reverse()
print(phone_number)
updated_contact.reverse()
print (updated_contact)

['Ebul', 'Dabul', 'Cabul', 'BAbul', 'Abul']
[5555, 4444, 3333, 2222, 1111]
[['Ebul', 'Dabul', 'Cabul', 'BAbul', 'Abul'], [5555, 4444, 3333, 2222, 1111]]

- How to count the frequency of a specific element in a list?

In [97]:
nums= [1, 1, 2, 4, 5, 45, 5, 6, 7, 4, 4, 5, 7,0, 50]
print(nums.count(1))
print(nums.count(5))
len(nums)

2
3

15

- How to remove an element from a list?

In [107]:
nums= [1, 1, 2, 4, 5, 45, 5, 6, 7, 4, 4, 5, 7,0, 50]

In [110]:
nums.remove(5)
nums.remove(6)
print(nums)

[1, 1, 2, 4, 45, 7, 4, 4, 7, 0, 50]

- How to find the minimum value, maximum value and total sum of a list?

In [112]:
print(min(nums))
print(max(nums))
print(sum(nums))

0
50
125

- What will happen if you add two lists?

In [115]:
phone_book= name + phone_number
print(phone_book)

['Ebul', 'Dabul', 'Cabul', 'BAbul', 'Abul', 1111, 2222, 3333, 4444, 5555]

In [116]:
list_a = [1,2,3,4]
list_b = [5, 6, 7, 8]
list_c = list_a + list_b
print(list_c)

[1, 2, 3, 4, 5, 6, 7, 8]

- How to sort a list?

In [118]:
numbers = [0, 2, 6, -2, -8, 3, 9]
print(sorted(numbers))

[-8, -2, 0, 2, 3, 6, 9]

- **Tuple**
- tuple is used with parentheses<br>
- tuple is immutable --> most important

In [119]:
name= ("aka", "baka", "caka", "daka")
print(type(name))

<class 'tuple'>

- Tuple slicing

In [121]:
print(name[0])
print(name[1])

aka
baka

-  immutable

In [125]:
name_list = ['Abul', 'BAbul', 'Cabul', 'Dabul']
name_list[1] = "Gabul"
print(name_list)

['Abul', 'Gabul', 'Cabul', 'Dabul']

In [126]:
name [1] = "kabul"
print(name)

TypeError: 'tuple' object does not support item assignment

- You cannot change any value inside a tuple and you cannot insert or delete as well

- **Similarities in List and TupleThe two data structures are both sequence data types that store collections of items.**|

  
   - The two data structures are both sequence data types that store collections of items.<br>
   - Items of any data type can be stored in them.<br>
   - Items can be accessed by their index.

- **Difference between List and Tuple**

    - List is mutable, whereas a tuple is immutable. 
   This means that lists can be changed, and tuples cannot be changed.

- **Set**
1. It works with a curly brace--> {}<br>
2. One item can appear only once<br>
3. You cannot slice item from set, unlike lists or tuples

In [134]:
set_A = {1, 4, 5, 1, 8}
print(set_A)
set_B = {22, 26, 1,75, 92, 20}
print(set_B)
print(set_A.union(set_B))
print(set_A.intersection(set_B))
print(set_A.difference (set_B))
print(set_B.difference (set_A))
print(type(set_A))

{8, 1, 4, 5}
{1, 20, 22, 26, 75, 92}
{1, 4, 5, 8, 75, 20, 22, 26, 92}
{1}
{8, 4, 5}
{75, 20, 22, 26, 92}
<class 'set'>

- **Dictionary**

In [140]:
phone_contacts = {"abul" : 1111,
                  "babul" : 2222,
                  "cabul" : 3333,
                  "dabul" : 4444}
print(type(phone_contacts))
print(phone_contacts["abul"])
print(phone_contacts["babul"])

print(phone_contacts.keys())
print(phone_contacts.values())

<class 'dict'>
1111
2222
dict_keys(['abul', 'babul', 'cabul', 'dabul'])
dict_values([1111, 2222, 3333, 4444])

In [146]:
#adding new new number in dictionary 
phone_contacts["abul"]= [7777, 6666]
print(phone_contacts)
phone_contacts["fabul"]= [7666]
print(phone_contacts)
del phone_contacts["abul"]
print(phone_contacts)

{'abul': [7777, 6666], 'babul': 2222, 'cabul': 3333, 'dabul': 4444, 'fabul': [7666]}
{'abul': [7777, 6666], 'babul': 2222, 'cabul': 3333, 'dabul': 4444, 'fabul': [7666]}
{'babul': 2222, 'cabul': 3333, 'dabul': 4444, 'fabul': [7666]}

- **Summary**
- List - indexed storage<br>
- Dictionary - Logical Association storage<br>
- Tuple - Memory optimized and Secure data storage<br>
- Set - unindexed data storage, widely useful for removing redundancy and mathematics ops